.container {
  display: flex;
  height: calc(100vh - var(--app-shell-header-height));
  height: calc(100dvh - var(--app-shell-header-height));
}

.embedded {
  display: flex;
  height: 100vh;
  height: 100dvh;
}

.body {
  background-color: #f2f3f1;
  flex-grow: 2;
  height: 100%;
  overflow: hidden;
}

.buttonRoot {
  color: #333;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: absolute;
  transform: translateX(-50%);
  bottom: 30px;
  left: 50%;
}

.buttonLabel {
  font-weight: bold;
}
