.container {
  display: flex;
  height: calc(100vh - var(--app-shell-header-height));
  height: calc(100dvh - var(--app-shell-header-height));
}

.panel {
  margin: 15px 5px;
}

.tabLabel {
  font-weight: 500;
  font-size: medium;
}

.aside {
  flex-grow: 1;
  z-index: 2;
  max-width: 390px;
  min-width: 410px;
  height: 100%;
  padding: 17px;
  padding-bottom: 0;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.body {
  background-color: #f2f3f1;
  flex-grow: 2;
  height: 100%;
  overflow: hidden;
}

.buttonRoot {
  color: #333;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: absolute;
  transform: translateX(-50%);
  bottom: 30px;
  left: 50%;
}

.buttonLabel {
  font-weight: bold;
}

.corner-text {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #eee;
  padding: 0 5px;
  font-size: 12px;
}

.corner-text a {
  color: #eee;
  text-decoration: none;
}

.corner-text a:hover {
  text-decoration: underline;
}

:global(.maplibregl-popup-content) {
  padding: 0 !important;
}
